<body>
  <nav class="navbar bg-info">
     <a routerLink="/home" class="nav-brand text-white nav-link">Home</a>
     <ul class="nav">
     <li><a routerLink="/login" class="nav-link text-white text-white">Login</a></li>
     <li><a routerLink="/register" class="nav-link text-white">Register</a></li>
     <li><a routerLink="/view" class="nav-link text-white">View</a></li>
     <li><a routerLink="/order" class="nav-link text-white">Order</a></li> 
     <!-- <li><a routerLink="./parent" class="nav-link">Parent</a></li>   -->
     <!-- <li><a routerLink="./buy" class="nav-link">Buy</a></li>   -->
     <!-- <li><a routerLink="./lifecycle" class="nav-link">LifeCycle</a></li>  -->
     <!-- <li><a routerLink="./logout" class="nav-link">Logout</a></li> -->
     <!-- <li><a routerLink="./logout" class="nav-link">Logout</a></li> -->
     </ul>
     </nav>
     <router-outlet></router-outlet>
     <hr>
</body>
